html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-family: 'Public Sans', sans-serif;
    font-size:$font_med;
    font-weight: 300;
    color: $grayishBlue;
}

a , a:visited, a:hover {
    text-decoration: none;
}

//FlexBox
.flex {
    display: flex;


    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c{
        align-items: center ;
    }
}

// Buttons
button, .button {
    padding: 1rem 1.875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    color: $white;
    font-weight: 400;
}


// Creating helper classes called (visibility)

.hide-for-mobile {
   //Call the mixin for mobile and tablet
   @include breakpoint-down(medium){
       display: none;
   }
}

.hide-for-desktop {
   // call the mixin for desktop and large screen
   @include breakpoint-up(large){
       display: none;
   }
}
