// Writing BEM - Block Header Modifier
.header {
    nav {
        padding: 24px;
    }

    &__logo {
        img {
             width: 8.8125rem;
             height: 1.375rem;
        }
    }

    &__menu {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
    &__links{
         a {
            font-size: $font_small;
            color: $grayishBlue;
            transition:color 200ms ease-in-out;


            &:not(:last-child){
                margin-right: 2em;
            }
        }
    }

    &__cta {
        font-size: $font_small;
        color: $white;
    }
    &:hover {
        color: $darkBlue;
    }
}